@{
  var result="";
  if (Request["x"] != null && Request["y"] != null && Request["operation"] != null){
    switch(Request["operation"]){
      case "add":
        result = Request['x'] __ Request['y'];
        break;
      case "subtract":
        result = Request['x'] __ Request['y'];
        break;
      case "multiply":
        result = Request['x'] __ Request['y'];
        break;
      case "divide":
        result = Request['x'] __ Request['y'];
        break;
    }
    result= Request["x"];
  }
}
<!DOCTYPE html>
<html>
  <body>
    <h1>Calculator</h1>
    <form method="post" action="">
      Number one: <input type="number" name="x">
      Number two: <input type="number" name="y">
      <br />
      I want to
      <fieldset class="operation-row">
        <input value="add" name="operation" type="radio">add</input>
        <input value="subtract" name="operation" type="radio">subtract</input>
        <input value="multiply" name="operation" type="radio">multiply</input>
        <input value="divide" name="operation" type="radio">divide</input>
      </fieldset>
      <input type="submit">
      <textarea readonly>@if(result != ""){@result}</textarea>
    </form>
  </body>
</html>
